name: container-images


on:
  push:
    branches: [ "main" ]
    tags: [ "v*" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: docker/setup-qemu-action@v3
    - uses: docker/setup-buildx-action@v3

    - run: echo "IMAGE_TAG=dev" >> $GITHUB_ENV
      if: github.ref_name == 'main'
    - run: echo "IMAGE_TAG=${GITHUB_REF##*/}" >> $GITHUB_ENV
      if: startsWith(github.ref, 'refs/tags/v')

    - name: Login to ghcr.io
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Login to docker.io
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_UID }}
        password: ${{ secrets.DOCKER_HUB_PAT }}

    - name: Build image
      run: |        
        docker buildx build \
          --platform linux/amd64,linux/arm64 \
          --tag ghcr.io/${{ github.repository }}:${{ env.IMAGE_TAG }} \
          --tag ${{ secrets.DOCKER_HUB_REPO }}:${{ env.IMAGE_TAG }} \
          --file ./Dockerfile \
          --output type=image,push=true .

    - name: Install Cosign
      uses: sigstore/cosign-installer@v3.8.1

    - name: Sign container image
      shell: bash
      env:
        COSIGN_EXPERIMENTAL: 1
      run: |
        cosign sign --yes "ghcr.io/${{ github.repository }}:${{ env.IMAGE_TAG }}"
        cosign sign --yes "${{ secrets.DOCKER_HUB_REPO }}:${{ env.IMAGE_TAG }}"

    - name: Verify image signatures
      shell: bash
      env:
        COSIGN_EXPERIMENTAL: 1
      run: |
        cosign verify \
          --certificate-identity=https://github.com/${{ github.repository }}/.github/workflows/build-container.yml@${{ github.ref }} \
          --certificate-oidc-issuer=https://token.actions.githubusercontent.com \
          "ghcr.io/${{ github.repository }}:${{ env.IMAGE_TAG }}"

        cosign verify \
          --certificate-identity=https://github.com/${{ github.repository }}/.github/workflows/build-container.yml@${{ github.ref }} \
          --certificate-oidc-issuer=https://token.actions.githubusercontent.com \
          "${{ secrets.DOCKER_HUB_REPO }}:${{ env.IMAGE_TAG }}"
